* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

.container {
    height: 100%;
    width: 100%;
}

#BG {
    background-image: url(/assets/gothambg6.jpg);
    background-size: cover;
    padding: 0;
    background-repeat: no-repeat;
}

#bg-fundo {
    background-color: black;
    height: 100%;
    width: 100%;
    transition-duration: 6s;
    position: absolute;
    z-index: 60;
    transition-delay: 0.8s;
}

#bg-fundo2 {
    background-color: rgba(0, 0, 0, 0);
    height: 100%;
    width: 100%;
    transition-duration: 7s;
    transition-delay: 1s;
    position: absolute;
    z-index: 60;
}

.row_1 {
    height: 100%;
}

.row_2 {
    height: 50%;
}

.row_3 {
    height: 100%;
    width: 100%;
}

.logo_start img {
    height: 305px;
}

.start-button {
    height: 22%;
}

#interaction_1 {
    opacity: 0;
    transition-duration: 3s;
    transition-delay: 2s;
    height: 100%;
}

#interaction_2 {
    opacity: 0;
    transition-duration: 2s;
    transition-delay: 2s;
    height: 100%;
}

.img_div img {
    height: 70%;
}

.speech_baloon1 {
    width: 20%;
}

.speech_baloon1 img {
    height: 60%;
}

.speech_baloon2 {
    width: 20%;
}

.text1 {
    color: white;
}

#riddle1 {
    opacity: 0;
    position: absolute;
    z-index: 58;
    transition-duration: 2s;

}

#batman1 {
    opacity: 0;
    position: absolute;
    z-index: 56;
    height: 100%;
    transition-duration: 2s;

}

.img_div2 img {
    width: 280px;
}

.speech_baloon2 img {
    height: 60%;
}

#instruc-text {
    opacity: 0;
    transition-duration: 2s;
    position: absolute;
    z-index: 61;
    height: 100%;
    display: none;
}

.instruc-text-style {
    color: rgba(255, 255, 255, 0.849);
}

/* QUESTIOS STYLES */


#questions {
    height: 100%;
    opacity: 0;
    display: none;
    position: absolute;
    z-index: 90;
    background-color: black;
    transition-duration: 3s;
}

#question {
    font-size: 30px;
    color: #3FA146;
}


/* CANVAS  */

canvas {
    background-size: contain;
    position: absolute;
    z-index: 59;
    left: 50%;
    top: 50%;
    margin-left: -500px;
    margin-top: -280px;
}


/* GAME OVER SCREEN */

.game-over {
    background-image: url(./assets/riddlerover.png);
    background-size: contain;

    background-repeat: no-repeat;
}


.game-over div div h1 {
    font-size: 150px;
    color: rgb(179, 19, 19);
}

#youlose {
    background-color: black;
    height: 100%;
    display: none;
    opacity: 0;
    transition-duration: 2s;
    position: absolute;
    z-index: 191;
}

/* 
YOU WIN SCREEN */

#youwin {
    background-color: black;
    height: 100%;
    display: none;
    opacity: 0;
    transition-duration: 2s;
    position: absolute;
    z-index: 191;
}

.you-win {
    background-image: url(./assets/youwin.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.you-win div div h1 {
    font-size: 150px;
    color: rgb(102, 102, 102);
}